<div class ="component border border-info">
    <div *ngIf="true; else errorBlock">
        <h2 class="pt-3 px-3">{{"forms.search.findDoctor" | translate}}</h2>
        <h3 class="px-3">{{"forms.search.searchBy" | translate}}</h3> 
        <form class="mx-3">
            <div class="form-group row mt-3">
                <label for="cityInput" class="col-sm-3 col-form-label">{{"forms.search.cityLabel" | translate}}</label>
                <select class="col-form-select col-sm-6" id="cityInput" [formControl]="cityControl">
                    <option value=0>{{"forms.search.cityInputDefault" | translate}}</option>
                    <option *ngFor="let city of cities$ | async" value={{city.id}} >{{"enums.cities." + city.name | translate}}</option>
                </select>
            </div>
            <div class="form-group row mt-3">
                <label for="medicalFieldInput" class="col-sm-3 col-form-label">{{"forms.search.medicalFieldLabel" | translate}}</label>
                <select class="col-form-select col-sm-6" id="medicalFieldInput" [formControl]="fieldControl">
                    <option value=0>{{"forms.search.medicalFieldInputDefault" | translate}}</option>
                    <option *ngFor="let field of medicalFields$ | async" value={{field.id}}>{{"enums.medicalFields." + field.name | translate}}</option>
                </select>
            </div>
            <hr>
            <div class="form-group row mt-3">
                <label for="nameInput" class="col-sm-3 col-form-label">{{"forms.search.doctorNameLabel" | translate}}</label>
                <input class="col-form-control col-sm-6" id="nameInput" type="text" [formControl]="nameContol">
            </div>
            <div class="form-group row mt-3 justify-content-center">
                <button type="button" class="col-form-control col-sm-2 btn btn-primary mb-3" (click)="search()">{{"forms.search.searchButton" | translate}}</button>
            </div>
        </form>
    </div>
    <ng-template #errorBlock>
        Error block
    </ng-template>
</div>