<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h4 class="text-center">{{("forms.makeAppointment.header" | translate) + doctor?.name}}</h4>
            <form class="mt-3">
                <div class="form-group row justify-content-center my-2"> 
                    <label class="col-form-label col-3">{{"forms.makeAppointment.selectPlaceLabel" | translate}}</label>
                    <select class="col-form-select col-6" [formControl]="workplaceControl">
                        <option *ngFor="let workplace of workplaces$ | async; index as i" value={{workplace.id}}>{{("enums.cities." + workplace.city.name | translate) + " - " +  workplace.address}}</option>
                    </select> 
                </div>
                <div class="form-group row justify-content-center my-2">
                    <label class="col-form-label col-3">{{"forms.makeAppointment.selectDateLabel" | translate}}</label>
                    <input type="date" class="col-form-input col-6" [formControl]="dateControl">
                </div>
                <div class="container row justify-content-center align-items-start mx-0 my-4 px-0 py-3 border">
                    <div class="col-1 mx-0 mt-2">
                        <button class="btn btn-white text-center" type="button" (click)="loadPreviousRange()">&lt;</button>
                    </div>
                    <div class="col-2 row m-0 px-1" *ngFor="let day of dateRange">
                        <div class="row m-0">
                            <p class="text-center mb-0">{{"enums.days." + day.getDay() | translate}}</p>
                            <small class="text-center">{{day.getDate() + " " + ("enums.months." + day.getMonth() | translate) + " " + day.getFullYear()}}</small>
                        </div>
                        <div class="row mx-0 p-0 mt-2">
                            <button id="btn{{dateToString(day)}}{{slot.time}}" class="btn btn-outline-info col-6 text-center p-0" type="button" data-bs-toggle="button"
                                    *ngFor="let slot of getSlotsForDate(day)" [disabled]="slot.taken || isInThePast(day, slot.time)" (click)="setSelected(day, slot.time)">
                                {{slot.time}}
                            </button>
                        </div>
                    </div>
                    <div class="col-1 mx-0 mt-2"> 
                        <button class="btn btn-white text-center" type="button" (click)="loadNextRange()">&gt;</button>
                    </div>
                </div>
                <div class="form-group row justify-content-center my-2"> 
                    <label class="col-form-label col-3">{{"forms.makeAppointment.commentLabel" | translate}}</label>
                    <textarea class="col-form-control col-6" placeholder="{{'forms.makeAppointment.commentPlaceholder'| translate}}" [formControl]="commentControl"></textarea>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-primary col-3" type="button" (click)="makeAppointment()">{{"forms.makeAppointment.confirmButton" | translate}}</button> 
                </div>
            </form>
        </div>
    </div>
</div>


